extends layout

block content
    .jumbotron
        img.img-responsive(src='orig_logo.png')
        p The open-source quiz and survey platform
    .panel.panel-primary
        .panel-heading 
            h4 Contributors
        .panel-body
            table.table.table-striped.table-hover
                thead
                    tr
                        th Name 
                        th Nickname
                        th Contriburion
                        th Website
                        th GitHub
                tbody
                    tr
                        td Dimo Chanev
                        td Ro6afF
                        td Write code
                        td 
                            a(href='https://techedu.cf/members/dimo') https://techedu.cf/members/dimo
                        td
                            a(href='http://github.com/Ro6afF') @Ro6afF
                    tr
                        td Alex Tsvetanov
                        td TTS
                        td Create logo for the project
                        td 
                            a(href='https://tsalex.tk') https://tsalex.tk
                        td
                            a(href='http://github.com/Alex-Tsvetanov') @Alex-Tsvetanov