extends ../layout

block content
    .panel.panel-primary
        .panel-heading 
            h4= title
        .panel-body
            table.table.table-striped.table-hover
                thead
                    tr
                        th #
                        th Username
                        th Result
                tbody
                    - var num = 1
                    - for (var i of results)
                        tr
                            td= num++
                            td= i.name
                            td= Math.round(i.points)