extends ../layout

block content
    .panel.panel-primary
        .panel-heading 
            h4= title
        .panel-body
            table.table.table-striped.table-hover
                thead
                    tr
                        th Username
                        th Result
                tbody
                    - for (var i in results)
                        tr
                            td= i
                            td= Math.round(results[i])