extends ../layout

block content
    if !username
        h1.text-danger Log in to create problem
    else
        .col-md-6
            .well.bs-component
                form.form-horizontal(action='/problem/create', method='post')
                    fieldset
                        legend Create new problem
                        if err
                            b 
                                p.text-danger= err
                        .form-group
                            label.col-md-2.control-label(for='name') Name
                            .col-md-10
                                input#email.form-control(name='name', type='text', placeholder='Name')
                        .form-group
                            label.col-md-2.control-label(for='type') Type
                            .col-md-10
                                .radio.radio-primary
                                    label
                                        input#type(name='type', value='code', checked='checked', type='radio')
                                        | Code
                                .radio.radio-primary
                                    label
                                        input#type(name='type', value='test', type='radio')
                                        | Test
                        .form-group
                            .col-md-10.col-md-offset-2
                                button.btn.btn-primary(type='submit') Create
